
body{
height: 125vh;
margin-top: 30px;
padding:30px;
background-size: cover;
background-color: #99cfff;
}
header {
background-color: orange;
position: fixed;
left: 850px;
right: 0;
top:15px;
height:40px;
display:flex;
align-items: center;
box-shadow: 0 0 20px 0 black;
}
header*{
display:inline;
}
header li {
margin: 7px;
}
header li a {
color: blue;
text-decoration:none;
padding: 12px;
}
ul li{
display: inline-block;
}
ul li a:hover{
background-color: red;
}
#election1{
	font-size: 50px;
	text-align: center;
	font color: #00ff00;

}
#election2{
	font-size: 30px;
	text-align: center;
	font color: #00ff00;

}
#body1{
	background-color: white;
}
img{
	width: 30%;
	height: 30%;
	position: relative;
	left: 35%;
	top:20px;
	padding: 10px;

}
.linksy{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;


}
#elections{
	background-color: green;
	border-radius: 5px;
	padding: 10px;
	font-size: 25px;
	color: black;
	text-decoration: none;
	position: fixed;
	font-weight: bold;

}
#elections:hover{
	background-color: white;
	border:none;
}
#elections:visited{
	color: red;
}
#log_form{
	display: flex;
	flex-direction: column;
	background-color: #9400D3;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	height: 600px;
	width: 800px;
	position: absolute;
	left: 200px;
	top: 0px;
	opacity: 0.9;
}
#form1{
	font-size: 20px;
	padding: 10px;
	width: 500px;
	margin: 15px;
	font-weight: bold;


}
#form2{
	font-size: 30px;
	font-weight: bold;
}
button{
	padding: 20px;
	cursor: pointer;
	background-color: green;
	font-size: 30px;
	border-radius: 5px;
}
button:hover{
	background-color: aquamarine;
}
.error{
	color: red;
}
.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: gainsboro;
	height: 400px;
	width: 900px;
	align-items: center;
	box-shadow: 10px 10px lightblue;
	position: absolute;
	left: 200px;
	margin-bottom: 100px;
}
#lab{
	font-size: 20px;
	color: blue;
}
#inp{
	font-size: 20px;
	width: 400px;
}

#but{
	height: 55px;
	width: 100px;
	margin-top: 0px;
	position: relative;
	left: 150px;

}
#register{
	height: 800px;
	width: 800px;
	background-color: white;
	position: relative;
	left: 300px;
	box-shadow: 10px 10px lightblue;
}
#form3{
	position: relative;
	left: 200px;
	padding: 20px;
}
#heading1{
	font-size: 80px;
	color: green;
	text-align: center;
}


